/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/GeoLite2-ASN_20*/
/GeoLite2-Country_20*/
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/MK_DIST/
/Makefile
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/Release/
/Testing
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/argh.h
/asn.mmdb
/ca-bundle.pem
/catch.hpp
/cmake_install.cmake
/country.mmdb
/geolite2-asn.tar.gz
/geolite2-country.tar.gz
/install_manifest.txt
/libmkmmdb.a
/mkcurl.h
/mkdata.h
/mkmmdb-client
/mkmmdb-client.dir/
/mkmmdb-client.vcxproj
/mkmmdb-client.vcxproj.filters
/mkmmdb.sln
/windows-curl-*.tar.gz
/windows-libmaxminddb-*.tar.gz
/x64/
